.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.pic4{
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 200px 200px;
    overflow: hidden;
}
 .img{
    padding: 0;
    width: 200px; 
    height: 237px; 
    object-fit:cover;  
}
.below{
    margin-top: -10px;
}
.wrapper{
    padding: 10px 100px 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discount{
    font-size: 24px;
    text-align: center;
    width: 170px;
    font-weight: 300;
}
.inverted{
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 200px 200px 0 0;
    overflow: hidden;
}
.seeall{
    padding: 10px;
    width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.222);
    color: rgb(246, 235, 220);
    background-color: black;
    transition: all 0.3s;
    cursor: pointer;
}
.seeall:hover{
    box-shadow: 0px 0px 20px 1px #ffbb76ab;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }
  .offer{
    font-size:2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding-bottom:30px ;
    padding-top: 40px;
    padding-left: 100px;
  }
