.verticalnavbar {
  width: 200px; /* Adjust the width as needed */
  background-color: rgb(218, 168, 103);
  color: black;
  font-family: Arial, sans-serif;
  height: 90vh;
}
.verticalnavbar h3{
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}

.verticalnavbar ul {
  list-style-type: none;
  padding: 0;
}

.verticalnavbar li {
  padding: 10px 30px;
}

.verticalnavbar a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.verticalnavbar a:hover {
  color: black;
  font-weight: 900;
}
.container{
  display: flex;
}
