.bookshelf {
  width: 100%;
  height: 300px;
  object-fit: fill;
  transition: transform 1s ease-in-out;
  animation: slideImage 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideImage {
  0% {
    transform: translateX(0); 
  }
  40% {
    transform: translateX(20%); 
  }

  100% {
    transform: translateX(-100%); 
  }
}

.header {
  background-color: antiquewhite;
  position: relative;
  object-fit: fill;
  overflow: hidden;
}
.zoom {
  display: flex;
  align-items: center;
  position: absolute;
  top: -10%;
  right: 10%;
}

.zoom p,
.zoom h2 {
  font-size: 73px; /* Initial font size */
  animation: zoomIn 4s ease-in-out forwards; /* Animation duration and timing function */
  opacity: 0;
  width: fit-content;
}
.zoom img {
  height: 350px; /* Initial font size */
  animation: zoomIn 4s ease-in-out forwards; /* Animation duration and timing function */
  opacity: 0;
}

@keyframes zoomIn {
  0% {
    font-size: 12px;
    opacity: 0; /* Start with small font size and hidden */
  }
  30% {
    font-size: 12px;
    opacity: 0;
  }
  100% {
    font-size: 24px; /* End with a larger font size */
    opacity: 1; /* Fully visible */
  }
}
