
.container{
 display: flex;
 overflow-x: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}

.header {
  background-color: antiquewhite;
  padding: 20px 90px;
  width: fit-content;
  display: flex;
  gap: 20px;
}
.header2 {
  background-color: antiquewhite;
  padding: 20px 100px;
  display: flex;
  gap: 20px;
}
.header3 {
  background-color: antiquewhite;
  padding: 20px 100px;
  display: flex;
  gap: 20px;
}
.left{
    padding-top: 40px;
}
.left h1 {
  font-size: 100px;
  width: 500px;
}
.left p {
  font-size: 17px;
  width: 500px;
}
.explore {
  padding: 10px;
  height: 45px;
  width: 150px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: white;
}
.bookspic{
    display: flex;
    gap: 20px;
    margin: 30px 5px;
}
.book2{
   border-radius: 0 0 120px 120px;
   border:4px solid black;
}
.book1{
   border-radius: 120px 120px 0 0;
   border:4px solid black;
   
}
.bookcontainer1{
    text-align: center; 
   
}
.bookcontainer2{
    text-align: center; 
}


