
.container::-webkit-scrollbar {
  display: none;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  width: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.header {
  position: relative;
  background-color: antiquewhite;
  padding: 20px;
  flex: 0 0 100vw;
  padding: 50px 90px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
}

.left {
  flex: 1;
}
.left h1 {
  font-size: 100px;
  width: 500px;
  font-weight: 900;
}
.left p {
  font-size: 17px;
  width: 500px;
}
.explore {
  padding: 10px;
  height: 45px;
  width: 150px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: white;
}
.bookspic {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.book2 {
  border-radius: 0 0 120px 120px;
  border: 4px solid black;
}
.book1 {
  border-radius: 120px 120px 0 0;
  border: 4px solid black;
}
.bookcontainer1 {
  text-align: center;
}
.bookcontainer2 {
  text-align: center;
}